#messages .message{
    padding: 4px 10px;
    max-width: min(calc(100% - 5rem), 50rem );
    min-width: 2rem;
    width: auto;
    margin: 0 6px;
    position: relative;
    z-index: 1;
    word-wrap: break-word;
}
#messages .time{
    padding: 4px 8px;
    margin: 0 6px;
    min-width: 3.4rem;
    border-radius: 0.5rem;
    background-color: var(--text);
    color: var(--bg);
    font-size: 14px;
    text-align: center;
}
#messages .leftTime{
    left: 0;
    transform: translateX(-150%);
}
#messages .rightTime{
    right: 0;
    transform: translateX(150%);
}
#messages .message:hover ~ .time, #messages .message:active ~ .time{
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
#messages .rightMessage{
    background: var(--primary);
    color: white;
    opacity: 1;
    margin-left: auto;
    border-radius: 0.8rem 0.8rem 0 0.8rem;
}
#messages .rightMessage::selection{
    background: var(--bg);
}
#messages .leftMessage{
    background: var(--bg-darker);
    margin-right: auto;
    border-radius: 0.8rem 0.8rem 0.8rem 0;
}